* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

.nav-text {
	color:black;
}

.brand-logo {
	color:black!important;
}

.centered {
	text-align: center;
}

.blacktext {
	color: black!important;
}

hr.styleline {
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color:lightgrey;
	color:white;
	border: 0 none;
}

.whitetext {
	color: white!important;
}

.header-top {
	line-height: 0px;
}

#intro{
	margin-top:0px;
	padding: 30px;
	background-color: #1291B2;
}

.photo {
	width:100%;
	margin-bottom:0px;
	padding-bottom:0px;
}

.aboutpara {
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
}


@media only screen and (max-device-width: 736px) {
	.aboutMobileSetting {
		padding: 5%;
	}
}

.serif {
	font-family: 'PT Serif', serif;
}

/*Slider Section*/

.floralwhitebg {
	background-color: floralwhite;
}

.modal-title {
	color: #336666;
}

ul li:hover {
	cursor: pointer;
}

.project-section {
	padding-top: 45px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
	background-color: floralwhite;
}

.project-image{
	width: 800px!important;
	height: 517px!important;
}

.slides li {
	height: 517px!important;
	background-color: floralwhite!important;
}

.slider {
	height: 550px!important;
	background-color: floralwhite!important;
}

.bg {
	background-color: floralwhite;
}

.hidden {
	display:none;
}
/*Contact Footer Section*/

.contact-area {
	background-color: deeppink;
}

.contact {
	display:inline-block;
}

.pad-left {
	padding-left: 15px;
}

.pad-left-bottom {
	padding-left: 15px;
	padding-bottom: 7px;
}

.headshot {
	float:right;
	padding-right:25px;
	display:inline-block;
}

.headshot-pic {
	border-radius: 50%;
}

footer {
	text-align: center;
}

.blkbg {
	background-color: black;
}

/*	@media screen and (max-width: 500px) { 
		#project-page-text {
			float:left!important;
		}
		.project-page-img{
			float:left!important;
		}
	 }*/



/*Project Page Section*/
#proj-page-title {
	
	position: absolute;
    color: white!important;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap; 
}
