* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

.nav-text {
	color:black;
}

.brand-logo {
	color:black!important;
}

.centered {
	text-align: center;
}

#intro{
	padding:30px;
}

.blacktext {
	color: black!important;

}


hr.styleline {

height: 10px;
margin-left: auto;
margin-right: auto;
background-color:deeppink;
color:white;
border: 0 none;
}

.whitetext {
	color: white!important;

}

.photo {
	width:100%;
}

.project-image{
	width: 800px;

}

.bg {
	background-color: floralwhite;
}

.contact-area {
	background-color: deeppink;
}


/*ul {
	text-align: right;
}

li {
	display: inline;
	color:black;

}*/

ul li:hover {
	cursor: pointer;
}

footer {
	text-align: center;
}
