/**** GLOBAL STYLES ******/

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}
.centered {
	text-align: center;
}
.serif {
	font-family: 'PT Serif', serif;
}
.blacktext {
	color: black!important;
}
.whitetext {
	color: white!important;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/******** NAVBAR (affixed to top) ******/

.nav-text {
	color:black;
}
.brand-logo {
	color:black!important;
}
.header-top {
	line-height: 0px;
}

/****** HEADER AND INTRO ***************/

.photo {
	width:100%;
	margin-bottom:0;
	padding-bottom:0;
}
#intro{
	margin-top:0;
	padding: 30px;
	background-color: #1291B2;
}
.aboutpara {
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
}

@media only screen and (max-device-width: 736px) {
	.aboutMobileSetting {
		padding: 3.5%;
		text-align: justify;
	}
}

@media only screen and (max-device-width:450px) {
	.each-project {
		width:100%!important;
		padding: 2% 4%;
	}
	.copyright {
		display: inline-block;
	}
	.img-responsive {
		width:100%;
	}
	.hiddenMobile {
		display:none;
	}
}

/********PROJECT SECTION **************/

.forAnchor {
	background-color: #8FC7A6;
}
.modal-title {
	color: #336666;
}
.project-section {
	width:100%;
	margin: 0 auto;
	text-align: center;
	background-color: floralwhite;
}
.each-project {
	width: 50%;
	background-color: #8FC7A6;
	float:left;
	padding: 2%;
}
.each-project:hover {
	background-color: floralwhite;
	cursor: pointer;
}
.proj-img {
	width:100%;
}
.bg {
	background-color: floralwhite;
}

/******** CONTACT SECTION ***********/

hr.styleline {
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color:lightgrey;
	color:white;
	border: 0 none;
}

.contact-area {
	background-color: deeppink;
	width:100%;
}
.contact {
	display:inline-block;
}
.pad-left {
	padding-left: 15px;
}
.pad-left-bottom {
	padding-left: 15px;
	padding-bottom: 7px;
}
.headshot {
	float:right;
	padding-right:25px;
	display:inline-block;
}
.headshot-pic {
	border-radius: 50%;
}
footer {
	text-align: center;
}
.blkbg {
	background-color: black;
}
